.logoutClick {
  color: black;
}
.image {
  max-width: 400px;
  max-height: 400px;
}
.review-card:hover {
  background-color: lightgray;
}
.order-blocks {
  text-align: left;
  border: lightgray solid 1px;
  border-style: ridge;
}

.wine-list-ele {
  list-style-type: none;
}
