
.title {
 align-self: center !important;
 font-weight: bolder;
 text-align: center !important;
}
.cart {
  color:rgba(0,0,0,.5);
}
.profile {
  color: rgba(0,0,0,.5);
}
.a{
  color: rgba(0,0,0,.5);
}
.logoutclick{
  color: rgba(0,0,0,.5)
}
#basic-navbar-nav{
justify-content: space-between !important;

}