.cart-title{
  margin-bottom: 5rem;
  margin-top: 5rem;
  align-content: center;
  font-size: 30px;
  font-weight: bolder;
}
.wine_thumb{
  width:200px;
  height: 200px;
}
.quantity-shit{
  justify-content: space-between;
}
i.icon.plus:before{
  padding-left: 5px;
}
i.icon.minus:before{
  padding-right: 5px;
}