.cart-title{
  margin-bottom: 5rem;
  margin-top: 5rem;
  align-content: center;
  font-size: 30px;
  font-weight: bolder;
}
.wine_thumb{
  width:75px;
  height: 220px;
}
.quantity-shit{
  justify-content: space-between;
}
i.icon.plus:hover{
  color:gray;
}
i.icon.minus:hover{
  color:gray;
}
i.icon.minus{
  padding-right: 5px;
}
i.icon.plus{
  padding-left: 5px;
}
.bottomtable{
  justify-content: space-between;
}
.adult-sig{
  text-align: left;
}